mat-card {
  width: auto;
  font-size: 26px;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgb(238, 208, 212);
}

mat-card-title {
  padding-bottom: 5%;
}
.btn-primary {
  background-color: lightblue;
  color: black;
}
